.footer2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 135px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  &-left {
    &-content {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.01em;
      color: #666666;
    }
  }
  &-right {
    &-content {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #666666;
    }
    span {
      font-weight: 500;
      color: #3E3E3E;
      font-size: 13px;
      line-height: 15px;
    }
  }
}