section.app
  .app-main 
    .app-image 
      img(srcset="./img/Screen.png 2x")
    .app-content
      .app-title Have you got our App?
      .app-desc Best cooks and best delivery guys all at your service. Hot tasty food
      .app-logo 
        .app-logo-left 
          img(srcset="./img/icon-apple.png 2x")
          .app-logo-content App Store
        .app-logo-right  
          img(srcset="./img/ch-play.png 2x")
          .app-logo-content Play Store

