section.blog
  .blog-header 
    .slogan Newar Me
    .text-content.blog-title Our regular updated new blogs
    .text-desc.blog-desc Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 20mins.
  .blog-list 
    .blog-item 
      .blog-item-image
        img(srcset="./img/blog-1.png 2x")
      .blog-item-content Riders
      .blog-item-desc We store the vast majority of the digital assets in secure ..
      .global-button.blog-button
        .global-button-text Apply Now
        .input-button
          img(srcset="./img/next-input.png 2x")
    .blog-item 
      .blog-item-image
        img(srcset="./img/blog-2.png 2x")
      .blog-item-content Riders
      .blog-item-desc We store the vast majority of the digital assets in secure ..
      .global-button-1.blog-button
        .global-button-text Apply Now
        .input-button
          img(srcset="./img/next-input-red.png 2x")
    .blog-item 
      .blog-item-image
        img(srcset="./img/blog-3.png 2x")
      .blog-item-content Riders
      .blog-item-desc We store the vast majority of the digital assets in secure ..
      .global-button-2.blog-button
        .global-button-text Apply Now
        .input-button
          img(srcset="./img/next-input-yellow.png 2x")            