section.footer
  .footer-main
    .footer-left
      .footer-left-image 
        img(srcset="./img/Logo-header.png 2x")
      .footer-left-desc Retail food delivery is a courier service in which a restaurant, store, or independent food-delivery
      .footer-left-logo
        img(srcset="./img/Facebook.png 2x")
        img(srcset="./img/Twitter.png 2x")
        img(srcset="./img/Linkedin.png 2x")
    .footer-right 
      .footer-list 
        .footer-item-title 
          a.footer-title(href="#") Company
        .footer-item
          a.footer-content(href="#") About
        .footer-item 
          a.footer-content(href="#") Terms of Use 
        .footer-item 
          a.footer-content(href="#") Privacy Policy
        .footer-item 
          a.footer-content(href="#") How it Works
        .footer-item 
          a.footer-content(href="#") Cotact Us
      .footer-list 
        .footer-item-title
          a.footer-title(href="#") Get Help
        .footer-item
          a.footer-content(href="#") Support Carrer
        .footer-item 
          a.footer-content(href="#") 24h Service 
        .footer-item 
          a.footer-content(href="#") Quick Chat    
      .footer-list 
        .footer-item-title 
          a.footer-title(href="#") Support
        .footer-item
          a.footer-content(href="#") FAQ
        .footer-item 
          a.footer-content(href="#") Policy 
        .footer-item 
          a.footer-content(href="#") Business
      .footer-list 
        .footer-item-title
          a.footer-title(href="#") Contact
        .footer-item
          a.footer-content(href="#") WhatsApp
        .footer-item 
          a.footer-content(href="#") Support 24 