section.newar 
  .newar-header
    .slogan.newar-slogan Newar Me
    .text-content.newar-content Find us near your citys.
  .newar-container
    .newar-container-left 
      .newar-point
        .newar-point-content
          .newar-point-title Pickup restaurent point  
          .newar-point-desc Enter your delivery location 
        .newar-point-image
          img(srcset="./img/point.png 2x")
      .newar-address
        .newar-address-item
          .global-address DEPATURE
          .newar-address-title Pickup restaurent point
          .newar-input 
            .newar-address-input 427  Edington Drive
            img.newar-input-image(srcset="/img/Icon-red.png 2x")
        .newar-address-item
          .global-address ARRIVE
          .newar-address-title Drop home location
          .newar-input
            .newar-address-input 4130  Public Works Drive
            img.newar-input-image(srcset="/img/Icon-red.png 2x")    
    .newar-container-right
      .newar-image
        img(srcset="./img/Map.png 2x")
        
     


