section.popular 
  .popular-header 
    .slogan.popular-slogan Popular Menu
    .text-content.popular-content Wait a minute for delicious.
  .popular-container 
    +popularCard("./img/popular-1.png 2x", "New York-Style pizza", "Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.",  "$7.10")
    +popularCard("./img/popular-2.png 2x", "Bento Ekiben Makunchi ..", "Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.",  "$6.40")
    +popularCard("./img/popular-3.png 2x", "Humburger Veggei ..", "Ut enim ad minim veniam, quis nostrud exercitation.",  "$4.80")
    +popularCard("./img/popular-4.png 2x", "Indian Cusine Briyani Buffet", "Ut enim ad minim veniam, quis nostrud exercitation.",  "$5.10")
    +popularCard("./img/popular-5.png 2x", "Chiken Tikka Buffalo Wing ..", "Ut enim ad minim veniam, quis nostrud exercitation.",  "$3.60")
    +popularCard("./img/popular-6.png 2x", "Fsish Fry Shashik Freid Fish ..", "Ut enim ad minim veniam, quis nostrud exercitation.",  "$6.40")
  .popular-button 
    .global-button
      .global-button-text See All Menu
      .input-button
        img(srcset="./img/next-input.png 2x")  
