section.service
  .service-header 
    .slogan Hungry?
    .text-content.service-title Wait a minute for delicious.
  .service-card
    +serviceCard("./img/image-service-1.png 2x", "Easy to order", "n restaurant-controlled online food ordering, the restaurant ..")
    +serviceCard("./img/image-service-2.png 2x", "Live Order", "In addition to paying for the food, customers will often have to pay ..")
    +serviceCard("./img/image-service-3.png 2x", "Best Quality", "Grocery delivery companies will deliver groceries, pre-prep ..")
  .service-footer 
    .service-footer-image 
      img(srcset="./img/image-service-base.png 2x") 
    